* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: rgba(238, 238, 238, 0.788);
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat;
}

nav {
    height: 5vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-self: flex-end;
    background-image: linear-gradient(to right, hsl(245, 21%, 78%), hsl(237, 63%, 64%));
    font-size: 24px;
    font-weight: 700;
}

nav>a {
    padding: 0 10px;
    text-decoration: none;
    color: aliceblue;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

header>h1 {
    color: hsl(232, 13%, 33%);
}

header>div {
    font-weight: 600;
    color: hsl(240, 4%, 66%);
}

article {
    display: flex;
    justify-self: center;
    margin: 50px 30px 0 30px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.info {
    background-color: rgb(89, 2, 170);
    /* background-image: linear-gradient(to right, hsl(245, 21%, 78%), hsl(237, 83%, 25%)); */
    padding: 20px;
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    min-height: 400px;
}

.info>.contact {
    font-weight: 600;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

a {
    padding-left: 10px;
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
}

.location {
    display: flex;
    align-items: center;
    line-height: normal;
}

.social {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 24px;
}

.social>div>i:hover {
    cursor: pointer;
    transform: scale(1.3);
    padding: 5px;
    border-radius: 100%;
    background-color: rgb(207, 157, 166);
}

form{
    margin-top: 30px;
    padding: 0 30px;
}

label{
    font-size: 16px;
    font-weight: 600;
}

input{
    cursor: pointer;
    border: none;
  
    border-bottom: 2px solid rgba(133, 129, 129, 0.568);
    margin: 10px 0 20px 0;
    text-decoration: none;
}

.btn {
    height: 40px;
    padding: 5px 40px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(to right, hsl(245, 21%, 78%), hsl(237, 63%, 64%));
    margin: 15px 0;
}