* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: rgba(238, 238, 238, 0.788);
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat;
}

nav {
    height: 5vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-self: flex-end;
    background-image: linear-gradient(to right, hsl(245, 21%, 78%), hsl(237, 63%, 64%));
    font-size: 24px;
    font-weight: 700;
}

a {
    padding: 0 10px;
    text-decoration: none;
    color: aliceblue;
}

#monthly {
    display: none;
}

.subscribe>h2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
}

.subscribe>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: hsl(234, 14%, 74%);
    font-size: 15px;
    font-weight: 650;
}

.btn-toggle {
    display: flex;
    align-items: center;
    width: 50px;
    height: 25px;
    border-radius: 40px;
    background-image: linear-gradient(to right, hsl(245, 21%, 78%), hsl(237, 63%, 64%));
    margin: 5px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.btn-toggle>.btn-inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    transition: all 300ms ease-in-out;
}

.btn-toggle.active>.btn-inner {
    margin-left: 20px;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.plan {
    color: hsl(233, 13%, 49%);
    margin: 0 5px;
    font-size: 15px;
    font-weight: 550;
    line-height: 75px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 325px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}

.btn {
    height: 40px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(to right, hsl(245, 21%, 78%), hsl(237, 63%, 64%));
    margin: 15px 0;
}

.plan:hover {
    color: white;
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 2px 2px 5px rgb(161, 163, 241);
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(251, 62%, 58%));
}

.plan:hover .btn {
    color: hsl(236, 57%, 66%);
    background-image: none;
    background-color: white;
}

.plan:hover>.btn:hover {
    color: hsl(0, 0%, 100%);
    border: 2px solid white;
    background: transparent;
}

.plan:hover .pricing {
    color: hsl(0, 0%, 100%);
}

.pricing {
    color: hsl(232, 13%, 33%);
    font-size: px;
    font-weight: 700;
    line-height: 200%;
}

hr {
    min-width: 100%;
    color: rgb(236, 236, 236);
    background: rgba(194, 194, 194, 0.199);
}

@media screen and (max-width:375px) {
    .plan {
        max-width: 85vw;
        margin-bottom: 30px;
    }
    body {
        background-image: url(./images/bg-top.svg);
        background-position: top right;
        background-repeat: no-repeat;
        background-position-x: right -180px;
        background-position-y: top -80px;
    }
}